<div class="content-flex-container">
  <div>
    @if (isLoading()) {
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    } @else {
      Login: {{ username() }}, password: {{ password() }}
    }
  </div>
  <div class="login-form-container">
    <form class="form-flex-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="login">Login</label><br>
      <input id="login" type="text" formControlName="username"><br>
      <label for="password">Password</label><br>
      <input id="password" type="text" formControlName="password"><br>
      <button type="submit" [disabled]="isLoading()">Enter</button>
    </form>
  </div>
  <div>
    @if (isLoading()) {
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    } @else {
      Найденных кейсов: {{ testCasesCheckedCount() }} из {{ testCasesAllCount() }}
    }
  </div>
</div>

<ng-template #loading>Обновление данных...</ng-template>
